<div id="header">
  <nav>
    <div class="header-column">
      <button class="btn-icon mr-8px" (click)="toggle()"><i class="fas fa-bars"></i></button>
    </div>
    <div class="header-column">
      <span class="logo">工数管理ツール</span>
    </div>
    <div class="header-column right">
      <button class="btn-icon ml-8px"><i class="fas fa-user"></i></button>
    </div>
  </nav>
</div>

<div id="body">

  <!-- Sidebar -->
  <div [@accordion]="stateMenu">
    <app-sidebar></app-sidebar>
  </div>

  <div id="container">
    <!-- Breadcrumbs -->
    <nav id="breadcrumbs">
      <ng-container *ngFor="let item of breadcrumbs">
        <ng-container *ngIf="item.url !== null">
          <a href="javascript:void(0)" (click)="router.navigateByUrl(item.url)">{{item.title}}</a>
          <i class="fas fa-angle-double-right"></i>
        </ng-container>
        <ng-container *ngIf="item.url === null">
          <span>{{item.title}}</span>
        </ng-container>
      </ng-container>
    </nav>

    <!-- Page contents -->
    <section id="content" class="padding-8px">
      <router-outlet></router-outlet>
    </section>

    <!-- Footer -->
    <div id="footer">
      &copy; copyright.
    </div>

  </div>
</div>



